{% extends "layout.html" %}

{% block content %}
<div>
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
        </tr>
        {% else %}
            No users have been found.
        {% endfor %}
    </table>
</div>
{% endblock content %}